a {
	color: #6c91bf;
}

a:hover {
	color: #4f6a8b;
}

.home-page .banner {
	background: #6c91bf;
}

.navbar-brand {
	color: #6c91bf !important;
}

.nav-pills.outline-active .nav-link.active {
	color: #6c91bf !important;
	border-bottom: 2px solid #6c91bf !important;
}

.btn-primary {
	color: #fff;
	background-color: #6c91bf;
	border-color: #6c91bf;

	&:hover {
		background-color: #4f6a8b;
	}
}

.centered-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cred-indicator-container {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
}

.cred-indicator {
	padding: 4px 12px;
	display: inline-block;
	margin: 0;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 14px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.meals-group {
	margin-top: 14px;
}

.over-calories {
	border: 1px solid red;
	border-radius: 3px;
}

.under-calories {
	border: 1px solid green;
	border-radius: 3px;
}

.article-preview {
	padding-left: 12px;
}
